* {
    background-color: #000;
    color: #fff;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Text */

h1 {
    font-family: 'Verdana', sans-serif;
    text-align: center;
    font-size: 44px;
    margin: 20px 0px;
}

h2 {
    font-family: 'Times New Roman', serif;
    font-size: 36px;
    margin: 20px 50px;
}

p, ol, ul {
    font-family: 'Garamond', serif;
    font-size: 30px;
    margin: 10px 100px;
}

li {
    margin: 10px 0px;
}

a:visited {
    color: #888;
}

/* Images */

img{
    display: block;
    margin: auto;
    border: 6px solid #888;
}

#pbj{
    padding: 50px;
    background-color: #fff;
}